<flash-messages></flash-messages>
<div class="col-md-12 paramMsg" *ngIf="paramMsg">
    <p>{{paramMsg}}</p>
</div>
<div *ngIf="!logdin" class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center pb-1">
                <h2 style="color:aliceblue;">ورود اعضا</h2>
                <!-- <a routerLink="/register" class="transition">حساب کاربری خود را از اینجا ایجاد کنید</a> -->
                <!-- the login form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <!-- eamil input field -->
                        <input [formControl]="email" class="form-control validation-field" placeholder="ایمیل خود را وارد نمایید" type="text">
                        <div class="alert-container">
                            <!-- email input validation error handeling -->
                            <small class="text-danger alert-right" *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                                ایمیل وارد نشده است
                            </small>
                            <small class="text-danger alert-right" *ngIf="form.get('email').touched && form.get('email').hasError('email')">
                                آدرس ایمیل نا معتبر است
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- password input field -->
                        <input [formControl]="password" class="form-control validation-field" placeholder="رمز عبور خود را وارد نمایید" type="password">
                        <div class="alert-container">
                            <!-- password input validation error handeling -->
                            <small class="text-danger alert-right" *ngIf="form.get('password').touched && form.get('password').hasError('required')">
                                رمز عبور وارد نشده است
                            </small>
                            <small class="text-danger alert-right" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">
                                رمز عبور حداقل باید شامل 6 حرف باشد
                            </small>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <!-- <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="login-checkbox">
                            <label class="custom-control-label" for="login-checkbox">Keep me signed in.</label>
                        </div> -->
                        <a class="transition pull-right" routerLink="/forgetPass" style="color:rgb(8, 178, 201); font-size: 16px">
                            فراموشی رمز عبور
                        </a>
                        <p style="color: #fff">حساب کاربری ندارید؟
                            <span>
                                <a routerLink="/register" class="transition" style="color:rgb(8, 178, 201); font-size: 16px">
                                    ثبت نام نمایید
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <!-- the login button will be disabled untill the correct values entered -->
                        <button [disabled]="!form.valid" class="btn btn-block" type="submit" style="font-size: 16px">ورود</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>