<div class="title">
        <p style="    font-size: 25px;">تایید اطلاعات احراز هویت</p>
</div>
<!--
        here you can Verify or not your useres information
        by just clicking on correct or incorrect values you can accept or denied informations
-->

<!-- if any user requested for KYC verification then shows this part -->
<mat-accordion *ngIf="!noUser">
        <!-- using angular material  expansion-panel-->
        <!-- if click on any users email then will send that email to getmail function -->
        <mat-expansion-panel (click)="getmail(user.email)" (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let user of users">

                <mat-expansion-panel-header>
                        <mat-panel-title>
                                {{user.email}}
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- verifying KYC form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-right mt-4">


                        <div class="form-group">
                                <!-- first name value -->
                                <mat-grid-list cols="12" rowHeight="100px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyFirstName">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">
                                                <p class="val">{{user.firstName}}</p>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label">: نام </label>
                                        </mat-grid-tile>
                                </mat-grid-list>
                        </div>
                        <div class="form-group">
                                <!-- last name value -->
                                <mat-grid-list cols="12" rowHeight="100px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyLastName">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">

                                                <p class="val">{{user.lastName}}</p>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label">: نام خانوادگی</label>
                                        </mat-grid-tile>
                                </mat-grid-list>

                        </div>
                        <div class="form-group">
                                <!-- birth date value -->
                                <mat-grid-list cols="12" rowHeight="100px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyBirthDate">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">

                                                <p class="val">{{user.birthDate}}</p>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label">: تاریخ تولد</label>
                                        </mat-grid-tile>
                                </mat-grid-list>

                        </div>

                        <div class="form-group">
                                <!-- phone number value -->
                                <mat-grid-list cols="12" rowHeight="100px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyTelephone">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">

                                                <p class="val">{{user.telephone}}</p>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label">: شماره تلفن</label>
                                        </mat-grid-tile>
                                </mat-grid-list>

                        </div>
                        <div class="form-group">
                                <!-- wallet address value -->
                                <mat-grid-list cols="12" rowHeight="100px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyWallet">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">

                                                <p class="val">{{user.walletAddress}}</p>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label">آدرس کیف پول:</label>
                                        </mat-grid-tile>
                                </mat-grid-list>


                        </div>
                        <div class="form-group">

                                <!-- personal photo value -->
                                <mat-grid-list cols="12" rowHeight="400px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyPassportImage">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">
                                                <!-- /{{user.passportImageAddress}} -->
                                                <img style="max-width: 400px;" [src]="imgService.getImg(user.passportImageAddress)" alt="">
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3" rowspan="1">
                                                <label class="label">عکس پرسنلی</label>
                                        </mat-grid-tile>
                                </mat-grid-list>


                        </div>
                        <div class="form-group">
                                <!-- KYC image value -->
                                <mat-grid-list cols="12" rowHeight="400px">
                                        <mat-grid-tile colspan="3">
                                                <mat-radio-group class="rad" formControlName="verifyImage">
                                                        <mat-radio-button [value]="true">درست</mat-radio-button>
                                                        <mat-radio-button [value]="false">نادرست</mat-radio-button>
                                                </mat-radio-group>
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="6">

                                                <img style="max-width: 400px;" [src]="imgService.getImg(user.imageAddress)" alt="">
                                        </mat-grid-tile>
                                        <mat-grid-tile colspan="3">
                                                <label class="label"> عکس شناسایی</label>
                                        </mat-grid-tile>
                                </mat-grid-list>
                        </div>
                        <button mat-raised-button color="warn" class="btn" type="submit">تایید</button>
                </form>

        </mat-expansion-panel>
</mat-accordion>

<!-- if no one requested for KYC verification then show this message -->
<div class="noUser" *ngIf="noUser">
        <p>هنوز کابری درخواست تایید احراز هویت نداده است</p>
</div>