.account-container {
    // width: 350px;
}

.full-width {
    width: 100%;
}

.info-container {
    color: #666;
}

p {
    color: #666;
    font-size: 16px;
    font-family: 'iransans';
}

p span {
    color: #555;
    font-size: 14px;
    font-family: sans-serif;
    // display: flex;
    // direction: ltr;
}