.welcomeCard{
    font-size: 16px;
    font-family: 'iransans';
}
.kycStatus p{
    display: inline-block;
    margin-right: 12px;
}
.chartBox{

    box-shadow: -4px 9px 46px -11px rgba(0,0,0,0.75);
}